



#fixturesshades article {
    width: 100%;
    text-align: center;
    height: 450px;
    overflow: hidden;
}

#fixturesshades article.box {
    margin: 0px;
    clear: none;
    width: 50%;
    float: left;
}

#fixturesshades article.wide {
    clear: both;
    text-align: left;
}

#fixturesshades article.wide img,#fixturesshades article.wide .content {
    margin-left: 100px;
    width: auto;
}

#fixturesshades article.wide ul {
    width: auto;
    text-align: left;
    margin-left: 90px;
}

#fixturesshades article.wide span {
    left: 100px;
    margin: 0;
}

#fixturesshades article.wide h2,#fixturesshades article.wide p {
    padding: 0;
}

#fixturesshades article a {
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background-color: #252728;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#fixturesshades article a .fade {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #f16162;
    opacity: 0;
    transition: opacity 600ms ease-in-out;
    z-index: 2;
}

#fixturesshades article a:hover .fade {
    opacity: 1;
    z-index: 2;
}

#fixturesshades article a:hover .w-logo {
    opacity: .1;
}

#fixturesshades article a:hover .content {
    opacity: 1;
}

#fixturesshades article a:hover p {
}

#fixturesshades article a:hover span {
    opacity: 1;
    bottom: 90px;
}

#fixturesshades article a:hover ul {
    opacity: 1;
}

#fixturesshades article a .w-logo {
    margin-top: 150px;
    transition: opacity 300ms ease-in-out;
    z-index: 1;
    position: relative;
}

#fixturesshades article a .w-feature {
    position: absolute;
    bottom: 0;
    left: 40%;
    z-index: 10;
}

#fixturesshades article a .content {
    position: absolute;
    bottom: 180px;
    width: 100%;
    transition: all 300ms ease-in-out;
    z-index: 10;
}

#fixturesshades article a h2 {
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 46px;
    letter-spacing: -1px;
    font-weight: 300;
    padding: 0 30px;
    font-family: 'MuseoSans_xFat';
    color:#ddd;
    text-transform:uppercase;

}

#fixturesshades article a p {
    font-size: 16px;
    margin-bottom: 10px;
    transition: margin 300ms ease-in-out;
    padding: 0 15%;
    line-height: 24px;
}

#fixturesshades article a span {
    background: url(../img/sprites.png) -256px -512px no-repeat;
    transition: all 600ms ease-in-out;
    opacity: 0;
    width: 68px;
    height: 68px;
    display: block;
    margin-left: -34px;
    position: absolute;
    bottom: 70px;
    left: 50%;
    text-indent: -99999em;
    transition: all 300ms ease-in-out;
    z-index: 10;
}

#fixturesshades article a ul,#fixturesshades article a li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#fixturesshades article a ul {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 15px;
    opacity: 0;
    transition: all 400ms ease-in-out;
    z-index: 10;
}

#fixturesshades article a li {
    text-align: left;
    position: relative;
    display: inline-block;
    padding: 0 10px;
    font-size: 18px;
    font-family: 'Tungsten A', 'Tungsten B';
    font-weight: 500;
    text-transform: uppercase;
}

#fixturesshades article a li:after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #fff;
    position: absolute;
    right: -2px;
    top: 10px;
}

#fixturesshades article a li:last-child:after {
    display: none;
}